<div id="pets" class="uk-child-width-1-4@m" uk-grid>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <h3 class="uk-card-title"># Users</h3>
        <p>{{this.users}}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <h3 class="uk-card-title"># Pets</h3>
        <p>{{this.pets}}</p>
      </div>
    </div>
  </div>
</div>